/* body */
/* background-image: url(images/pattern.png}) */
/* { */
/* font-size:100X; */
/*  marin:0; */
/*  line-height:1;*/
/* box-sizing: borderbox; */
  /* border: 1px solid red; */
 /* } */
  body {
  background-color: skyblue;
  color: DarklateBlue;
  font-family: 'Areial', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  line-height: 2;
  text-shadow: 2px 2px 2px #888;
  /* margin: 50px; */
}

h1{
  font-weight: normal;
  font-style: italic;
  font-size: 54px;
  }
h1{
  text-align: center;
  }
/* h2{ */
  /* font-weight: normal; */
  /* font-style: italic; */
  /* font-size: 54px; */
/* } */
*p {
  /* fontstyle: 100; */
}

 p {
     line-height: 2;
   }

    color: red;
    color: blue;
  }

  p{
    color: green;
  }
  }/* website */
body {
  /* background-color: grey; */
  color: black;
}

h1 {
  color: red;

}
 p{ */
  /* margin: 15px 0; */
}
/* ul,ol { */
  /* margin: 15px 0; */

/* }*/
/* */header, */
/* section, */
/* footer { */
  /* padding:30px; */
}*/
/* h1 { */
  /* border-bottom 1px gainsboro; */
  /* background-color:white */
  /* margin:30px; */
  /* padding:30px; */
/* }
/* section{ */
  /* border: 1px dashed red; */
} */
/* body{ */
  /* background-color: aqua; */
  /* background-image:url"images/ben.jpg);/*the image used*/ */
  /* background-position:center;/*center the image*/ */
  /* height 600px;/*you must set a specificed image*/ */
  /* background-repeat:no-repeat; /*Do not repeat the image *&? */
  /* Background-size: cover; /*Resize the background image to cover the entire containerr */ */
/* } */
.title {
  height: 300px; 48;
  text-decoration: underline;
}
.banner{
  height: 350px;
  background-image: url("images/banner.jpg");
  background-size: cover;
  background-position: center;
}
